<% layout('layouts/boilerplate') %>
<main>
    <div class="container">
        <div class="row">
    
            <div class="col-4">
        
                <div class="card mb-3"  style="width: 18rem;">
                    <img src="<%=community.image.url%>" class="card-img-top mb-3" alt="..." width="250px" height="150px">
                    <div class="card-body">
                      <h5 class="card-title"><%= community.name %></h5>
                      <p class="card-text"><%= community.description %></p>
                      <p class="card-text">Followers :  <%= community.followers ? community.followers.length : 0 %></p>
                      <form class="mb-3" method="post" id="follow" action="/community/<%= community._id %>/follow">
                        <button class="btn btn-info">Join</button>
                    </form>
                    <br>
        
                    <a href="/community/<%= community._id %>/chat" class="btn btn-primary mb-3">Community Chat</a>
                    <br>
                    <a href="/community/<%= community._id %>/post/new" class="btn btn-success mb-3">Add New Post</a>
                    <br>
                        <% if (currentUser && (currentUser._id.toString() === community.admin._id.toString())) { %>
                        
                        <form method="POST" action="/community/<%= community._id %>?_method=DELETE">
                            <button class="btn btn-danger mb-3">Delete Community</button>
                        </form>
                        <a href="/community/<%= community._id %>/edit" class="btn btn-warning mb-3">Edit Community</a>
                        <br>
                
                        <% } %>
                    </div>
                  </div>
                    
            </div>
            <div class="col-8">
                <% for(let post of community.posts) { %>
                    <div class="card mb-3">
                        <div class="card-body">
                            <img src="<%=post.image.url%>" alt="" class="card-img-top mb-3">
                            <div id="post-<%=post._id%>">
                                <h5 class="card-title"><%= post.title %></h5>
                                <p class="card-text"><small class="text-body-secondary">Posted By: <%= post.author.username %></small></p>
                                <p class="card-subtitle mb-3"><%= post.content %></p>
                                 
                                    <form class="d-inline" method="post" id="upvoteBtn" action="/community/<%= community._id %>/post/<%= post._id %>/upvote">
                                        <button class="btn btn-primary btn-sm">Upvote <%= post.upvotes ? post.upvotes.length : 0 %></button>
                                    </form>
                                    <form class="d-inline" method="post" id="downvoteBtn" action="/community/<%= community._id %>/post/<%= post._id %>/downvote">
                                        <button class="btn btn-secondary btn-sm">Downvote <%= post.downvotes ? post.downvotes.length : 0 %></button>
                                    </form>
        
                                <% if (currentUser && ((currentUser._id.toString() === post.author._id.toString()) || (currentUser._id.toString() === community.admin._id.toString()))) {%>
                                 
                                    <form action="/community/<%=community._id%>/post/<%=post._id%>?_method=DELETE" method="POST" class="d-inline">
                                        <button class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                    
                                        <% if (currentUser._id.toString() === post.author._id.toString()) { %>
                                            <button id="editBtn-<%= post._id %>" onclick="toggleEditForm('<%= post._id %>')" class="btn btn-warning btn-sm">Edit</button>
                                        <% } %>
        
                                <% } %>
                                    
        
                            </div>
        
                            <form id="editForm-<%= post._id %>" class="edit-form" action="/community/<%= community._id %>/post/<%= post._id %>/edit?_method=PATCH" method="POST" style="display:none;" enctype="multipart/form-data">
                                <div class="form-group mb-3">
                                    <label for="postImage">change image : </label>
                                    <input type="file" name="postImage" id="postImage">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="title-<%= post._id %>">Title : </label>
                                    <input type="text" class="form-control" id="title-<%= post._id %>" name="title" value="<%= post.title %>">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="content-<%= post._id %>">Content : </label>
                                    <textarea class="form-control" id="content-<%= post._id %>" name="content"><%= post.content %></textarea>
                                </div>
                                <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
                                <button type="button" class="btn btn-secondary btn-sm" onclick="toggleEditForm('<%= post._id %>')">Cancel</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

    </div>
    
</main>

<script src="/javascripts/editPost.js"></script>


