<% layout('layouts/boilerplate') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem;">
                <img src=<%=community.profileImg%> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= community.name %></h5>
                  <p class="card-text"><%= community.description %></p>
                  <a href="/community/<%= community._id %>/post/new" class="btn btn-primary btn-sm mb-3">Add New Post</a>
                  <a href="/community/<%= community._id %>/edit" class="btn btn-warning btn-sm mb-3">Edit Community</a>
                  <br>
                  <form class="d-inline mt-3 mb-3" method="POST" action="/community/<%= community._id %>?_method=DELETE">
                  <button class="btn btn-danger btn-sm">Delete Community</button>
                  </form>
                </div>
              </div></div>
            <div class="col">
                <div class="container">
                    <% for(let post of community.posts) { %>
                        <div class="card mb-3">
                            <div class="card-body">
            
                                <div id="post-<%=post._id%>">
                                    <h5 class="card-title"><%= post.title %></h5>
                                    <p class="card-text"><small class="text-body-secondary">Posted By: <%= post.author.username %></small></p>
                                    <p class="card-subtitle"><%= post.content %></p>
            
                                    <form class="d-inline" action="/community/<%=community._id%>/post/<%=post._id%>/upvote?_method=patch" method="post">
                                        <button class="btn btn-primary btn-sm" id="upBtn-<%=post._id%>" >Upvote <%= post.upvotes %></button>
                                    </form>
                                    <form class="d-inline" action="/community/<%=community._id%>/post/<%=post._id%>/downvote?_method=patch" method="post">
                                        <button class="btn btn-secondary btn-sm" id="upBtn-<%=post._id%>" >Downvote <%= post.downvotes %></button>
                                    </form>
                                    
                                    <button id="editBtn-<%= post._id %>" onclick="toggleEditForm('<%= post._id %>')" class="btn btn-warning btn-sm">Edit</button>
                                </div>
            
                                <form id="editForm-<%= post._id %>" class="edit-form" action="/community/<%= community._id %>/post/<%= post._id %>/edit?_method=PATCH" method="POST" style="display:none;">
                                    <div class="form-group">
                                        <label for="title-<%= post._id %>">Title</label>
                                        <input type="text" class="form-control" id="title-<%= post._id %>" name="title" value="<%= post.title %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="content-<%= post._id %>">Content</label>
                                        <textarea class="form-control" id="content-<%= post._id %>" name="content"><%= post.content %></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
                                    <button type="button" class="btn btn-secondary btn-sm" onclick="toggleEditForm('<%= post._id %>')">Cancel</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    

   
</main>

<script src="/javascripts/editPost.js"></script>


