<% layout('layouts/boilerplate') %>
    <main class="mx-5 mt-5">
        <% if(communities.length === 0){ %>
            <h1>No Communites Available!!</h1>
        <% } else{ %>
        <h1 class="ms-1 mb-3">All Communities</h1>
            <div class="row">
                <% for(let community of communities){ %>
                    <div class="col-md-4 p-3">
                        <div class="card mb-3">
                            <img src="<%= community.profileImg %>" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title"><%=community.name%></h5>
                            <p class="card-text"><%=community.description%></p>
                            <a href="/community/<%= community._id %>/show" class="btn btn-primary">Explore <%=community.name%></a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>

        <a class="btn btn-secondary ms-1 mb-5" href="/community/new">Create Community</a>
        <br>
        
        
    </main>
